*{
    margin:0;
    padding:0;
}
body{
    background-color:#673F69;
}
nav{
    height:30px;
    width:100%;
    background-color:#D74B76;
}
nav ul{
    list-style-type:none;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}
nav ul li a{
    text-decoration:none;
    color:white;
}
#resume{
    height:1200px;
    width:80%;
    margin:3% 0% 3% 10%;
    background-color:#FB6D48;
    border-radius:2px solid gray;
}
#resume-header{
    height:230px;
    width:98%;
    margin-left:1%;
    border:1px solid white;
    border-bottom-left-radius:30%;
    border-bottom-right-radius:30%;
    background-color:antiquewhite;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;

}
#profile-img{
    height:170px;
    width:170px;
    margin:30px 0px 5px 20px;

    border:1px solid white;
    border-radius:50%;
    background-image:url("devkant.jpg");
    background-size:cover;  
}
#main-header-name{
    align-self: center;
}
#main-header-name h2{
    font-size:xxx-large;
}
#resume-body{
    height:900px;
    width:98%;
    margin-top:20px;
    margin-left:1%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:flex-start;

}
.section-header{
    background-color:white;
    text-align:center;
}
#AboutME{
    height:200px;
    width:50%;
    margin-top:20px;
    border:2px solid white;
}
#AboutME div{
    padding:20px;

}
#contact-address ul{
    list-style-type:none;
    margin-top:15px;

}
#contact-address ul a{
    text-decoration:none;
    color:black;
   
}
.icon-contact{
    height:15px;
    width:15px;
    margin-right:5px;
}

#Experience{
    height:250px;
    width:50%;
    border:2px solid white;
}
#Experience ul{
    padding:20px;
    margin-left:20px;
}
#Experience h3{
    margin-left:15px;
}

#Language{
    height:150px;
    width:25%;
    border:2px solid white;
}
#Language ul{
    padding:10px;
    margin-left:20px;
}
#Education{
    height:250px;
    width:50%;
    border:2px solid white;
}
#education-inner-section{
    padding:20px;
}
#Skills{
    height:180px;
    width:25%;
    border:2px solid white;
}
#Skills ul{
    padding:10px;
    margin-left:20px;
}
#SocialHandle{
    height:130px;
    width:25%;
    border:2px solid white;
}
#SocialHandle ul{
    list-style-type:none;
    padding:10px;
    margin-left: 20px;
}
#SocialHandle ul a{
    text-decoration:none;
    color:black;
    font-weight:800;

}
.social-icon{
    height:20px;
    width:20px;
    margin-right:10px;
}